<h1>Checkout</h1>

<% @cart.each do |item| %>
<li>
<% pokemon = Pokemon.find { |p| p.id == item ['id'] }%>
<%= pokemon.name %>

<%= item['quantity']%>
Price= <%=  pokemon.price * item['quantity']%>



</li>




<% end %>
Address: <%= @address %>
<br>
Province: <%= @province_name %>
<br>
Tax = <%= @tax%>
<br>
PST = <%= @pst%>
<br>
GST = <%= @gst%>
<br>
HST = <%= @hst%>
<br>
Postal = <%=@postal%>
<br>
<p>Total: <%= number_with_precision(@final_total, precision: 2) %></p>

<%= link_to 'Confirm', invoice_path %>
</li>



