<h1>ORDER PLACED SUCCESSFULLY</h1>
<h1>Order Details</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Total Price</th>
    </tr>
  </thead>
  <tbody>
    <% @order.order_items.each do |order_item| %>
      <tr>
        <td><%= Pokemon.find(order_item.pokemon_id).name %></td>
        <td><%= order_item.quantity %></td>
        <td><%= order_item.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>

Address: <%= @address %>
<br>
Province: <%= @province_name %>
<br>
Tax = <%= @tax%>
<br>
PST = <%= @pst%>
<br>
GST = <%= @gst%>
<br>
HST = <%= @hst%>
<br>
Postal: <%= @postal%>
<br>


<p>Total: <%= number_with_precision(@order.total, precision: 2) %></p>