<!-- app/views/users/edit.html.erb -->

<h1>Edit User Profile</h1>

<%= form_for @user, url: user_update_path, method: :patch do |f| %>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div>
    <%= f.label :postal_code %>
    <%= f.text_field :postal_code %>
  </div>

  <div>
    <%= f.label :province_id %>
    <%= f.collection_select :province_id, Province.all, :id, :name, include_blank: true %>
  </div>

  <div>
    <%= f.submit "Update Profile" %>
  </div>
<% end %>
<!-- app/views/users/edit.html.erb -->

