<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" href="<%= pokemons_path %>">Pokemons</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= categories_path %>">Category</a>
        </li>
        <% if user_signed_in? %>
         <li class="nav-item">
          <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
        </li>
        <%else%>
        <li class="nav-item">
          <a class="nav-link" href="<%= user_session_path %>">Sign In</a>
        </li>
        <% end %>

      </ul>
      <form class="d-flex" role="search" method="GET" action="<%= search_path %>">
      <select class="form-select" aria-label="Default select example" name="category">
        <option value="all">All Categories</option>
        <% @categories.each do |category| %>
          <option value="<%= category.id %>"><%= category.name %></option>
        <% end %>
      </select>
      <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>


    </div>
  </div>
</nav>