<h1>Pokemons#show</h1>
<p>Find me in app/views/pokemons/show.html.erb</p>

<h1><%=@pokemon.name%></h1>
<p><%=@pokemon.price%></h1>
<p><%=@pokemon.height%></h1>
<p><%=@pokemon.weight%></h1>
<p><%=@pokemon.candy%></h1>

<% if @cart.any? do |cartitem| cartitem['id'] == @pokemon.id end%>
<% else %>
<form action="<%=addtocart_path %>" method="post">
<%= button_to 'ADD IN YOUR CART', addtocart_path, params: {pokemonid: @pokemon.id},method: :post %>
</form>
<% end %>

